.ourTeam {
  width: 1280px;
  margin: 0 auto;
  padding-top: 32px;
}

.ourTeamList {
  padding-bottom: 86px;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}

.ourTeamItem {
  text-align: center;
  margin: 0px;
}

.Img {
  width: 300px;
  height: 320px;
}

.name {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  text-transform: uppercase;
  color: #333333;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.position {
  display: flex;
  justify-content: center;
  font-weight: 300;
  color: #333333;
  line-height: 24px;
  font-size: 15px;
  font-family: Montserrat, sans-serif;
  margin-bottom: 34px;
}

.Wrapper {
  position: relative;
}

.overlay {
  visibility: hidden;
  opacity: 0.7;
  left: 0px;
  top: 0px;
  position: absolute;
  background-image: -webkit-linear-gradient(
    90deg,
    rgb(252, 227, 138) 0%,
    rgb(243, 129, 129) 100%
  );
  width: 300px;
  height: 300px;
}

.Wrapper:hover .overlay {
  visibility: visible;
  transition: all 200ms linear;
  box-shadow: 7px 7px 0px 0px rgba(216, 11, 11, 0.5);
  transform: translate(-2%, -2%);
}

.link {
  padding-top: 150px;
  margin-left: 10px;
}

a:hover {
  fill: red;
}
.socialLinkWrapper {
  align-items: center;
  justify-content: center;
  display: flex;
}
